.event-taskbar-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 12px 6px #00000026;
    border-radius: 15px;
    position: relative;
}

.event-taskbar-header {
    padding: 16px 10px;
    background: linear-gradient(90deg, #688D69 0%, #6E936E 23%, #548454 58%, #5E8061 80.5%, #4B814C 100%);
    border-radius: 15px 15px 0 0;
}

.event-taskbar-content {
    padding: 14px 23px 14px 23px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.event-taskbar-pfp img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.event-taskbar-pfp-container {
    position: relative;
    height: 35px;
    width: 35px;
}

.event-taskbar-pfp {
    background: #A5BE9BA1;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.event-taskbar-pfp::before {
    content: '';
    position: absolute;
    inset: -3px;
    border-radius:  50%;
    z-index: -2;
    background: linear-gradient(188.68deg, rgba(246, 226, 178, 0.5) 10.5%, rgba(223, 204, 161, 0.5) 36.24%, rgba(190, 175, 138, 0.5) 80.18%, rgba(144, 132, 104, 0.5) 94.39%);
}
