@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




.sign-in-btn-container {
  gap: 20px;
}


.header-container {
    padding: 10px 0;
    background-color: #ffffff;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #000;
    filter: drop-shadow(0px 3px 4px #000000b8);
    
}

.logo-container {
  cursor: pointer;
}

.logo-title {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    color: #334D39;
    
}

.logo-title-underline {
  height: 2px;
  
}

.logo-subtitle {
  color: #334D39;
  border-top: 2px solid #334D39;
}

.navigations-container {
    gap: 26px;
}


.navigations-container a {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
    transition: 0.36s;
}

.navigations-container a:hover {
    transform: scale(0.9);
    opacity: 0.5;
}

.btn-grad {background-image: linear-gradient(to right, #135e3f 0%, #71B280 51%, #135e3f 100%)}
.btn-grad {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;
    box-shadow: 1px 1px 6px #135e3f;
    border-radius: 13px;
    display: block;
    border: none;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 14px;
}

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }
