.hero-section-container {
    height: 782px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    background-image: url('./img/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}

.hero-section-content {
    gap: 22px;
    margin-left: 156px;
    margin-bottom: 256px;
    position: relative;
    z-index: 2;
   
}

.hero-section-title {
    color: #102913;
    text-shadow: #00000040 0px 4px 4px;
    font-size: 97px;
    font-family: "Montserrat";
}

.hero-section-subtitle {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    font-family: 'Poiret One';
} 

.hero-section-overlay {
    background-color: rgb(0 0 0 / 33%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.hero-section-footer {
    gap: 18px;
    padding: 22px 0 15px 0;
    border-bottom: 2px solid #1E1E1E;
}

.hero-section-contacts {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.hero-section-contacts i {
    border-radius: 50%;
    background-color: #C5DDD4;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #198754;
    border: 1px solid;
}

.hero-section-contacts-text {
    font-family: "Montserrat Alternates";
    font-size: 10px;
    font-weight: 400;
}