.event-page-container {
    display: flex;
    width: 100%;
}

.event-page-main-content {
    width: 100%;
}

.event-page-workzone {
    display: flex;
    padding: 36px 52px 0 52px;
    gap: 41px;
}

.event-page-taskbar-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}